[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
requests = "*"
psycopg2 = "*"
sentry-sdk = "*"
numpy = "*"
sqlalchemy-timescaledb = "*"
apscheduler = "*"
python-dotenv = "*"

[dev-packages]
